.Categories {
    margin: 100px 10px 0 10px;
    background-color: rgb(26, 25, 25);
    text-align: center;
}

.Categories ul {
    width: 700px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-left: 1px white solid;
    border-top: 1px white solid;
    border-right: 1px white solid;
    border-bottom: 1px white solid;
}

.Categories li {
    color: rgb(252, 122, 99);
    list-style: none;
    display: inline-block;
    margin: 10px;
    text-align: center;
}